<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>CAS-222 Template | Ammura Heidar</title>
    <meta name="author" content="Ammura Heidar">
    <meta name="description" content="Week 6, Template Assignment">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet" type="text/css">

    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/navigation.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <link rel="icon" type="image/x-icon" href="" />

</head>

<body>

    <div id="container">

        <header class="header">
            
            <h1 id="logo">Cat Ipsum Dolor</h1>

            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="index.html" target="_self">Home</a></li>
                    <li><a href="about.html" target="_self">About Us</a></li>
                    <li><a href="gallery.html" target="_self">Gallery</a></li>
                    <li><a href="events.html" target="_self">Events</a></li>
                    <li><a href="faqs.html" target="_self">FAQ's</a></li>
                    <li><a href="includes/contact.html.php" target="_self">Contact Us</a></li>
                </ul>
            
        </header>
        <br><br><br>

        <main>
            
            <h1>About Us</h1>
            <h2>Cat ipsum dolor sit amet</h2>

            <p>Swipe at owner's legs hiss at vacuum. Purrr purr littel cat, little cat purr purr i shall purr myself to sleep for bird bird bird.</p>
            
            <p>Quam cillum architecto or sequi. Error cillum. Illum aut. Nequeporro voluptate so aute beatae aute. Consectetur qui but sit. Incidunt laudantium yet quis quaerat yet ipsa illo dolores. Sed laboris or eaque sequi.</p>
            
            <p>Velitesse vitae. Quisquam quam ipsa. Non quaerat, et but ab minim aliquip dolore. Sed error dolore commodo sed. Excepteur. Consequatur nostrum eum. Lorem rem qui illum, laboris. Inventore aliquip ipsum for minima for aperiam. Quia sit unde so nequeporro so dolor.</p>
            
            
            <h2>Facebook</h2>
            <iframe src="https://www.facebook.com/plugins/post.php?href=https%3A%2F%2Fwww.facebook.com%2Fpermalink.php%3Fstory_fbid%3D110671210507359%26id%3D110661963841617&width=500&show_text=true&height=186&appId" width="500" height="186" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe><br><br>
            
            
            <h2>Twitter</h2>
            <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Any weather is training weather!</p>&mdash; CAS 222 (@pcccas222) <a href="https://twitter.com/pcccas222/status/1055566270580445185?ref_src=twsrc%5Etfw">October 25, 2018</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br><br>
            
            
            <h2>Questions? Contact Us</h2> 
            <?php include '../includes/contact.php'; ?>


        </main>
    </div>


    <footer>
        <p>Designed by: Ammura Heidar &copy; 2021</p>

    </footer>

    <script type="text/javascript" src=""></script>

</body>

</html>