<!DOCTYPE html>
<html lang="">

<head>
    <meta charset="utf-8">
    <title>CAS-222 Template | Ammura Heidar</title>
    <meta name="author" content="Ammura Heidar">
    <meta name="description" content="Week 6, Template Assignment">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,700" rel="stylesheet" type="text/css">

    <link href="css/reset.css" rel="stylesheet" type="text/css">
    <link href="css/navigation.css" rel="stylesheet" type="text/css">
    <link href="css/style.css" rel="stylesheet" type="text/css">
    
    <script src="https://www.w3schools.com/lib/w3.js"></script>

    <link rel="icon" type="image/x-icon" href="" />

</head>

<body>

    <div id="container">

        <header class="header">
            
            <h1 id="logo">Cat Ipsum Dolor</h1>

            <input class="menu-btn" type="checkbox" id="menu-btn" />
            <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
                <ul class="menu">
                    <li><a href="index.html" target="_self">Home</a></li>
                    <li><a href="about.html" target="_self">About Us</a></li>
                    <li><a href="gallery.html" target="_self">Gallery</a></li>
                    <li><a href="events.html" target="_self">Events</a></li>
                    <li><a href="faqs.html" target="_self">FAQ's</a></li>
                    <li><a href="includes/contact.html.php" target="_self">Contact Us</a></li>
                </ul>
            
        </header>
        <br><br><br>

        <main>
            
            
            <h1>Bio</h1>
            <h2>Cat ipsum dolor sit amet</h2>

            <p>Swipe at owner's legs hiss at vacuum.</p>
            <p>Purrr purr littel cat, little cat purr purr i shall purr myself to sleep for bird bird bird</p>
            
            
            <h2>Gallery</h2>

            <img class="nature" src="images/ace7.jpg">
            <img class="nature" src="images/ace9.jpg">
            <img class="nature" src="images/ace18.jpg">

            <script>
                w3.slideshow(".nature", 1000);
            </script>
            
            <p>Ipsum aliqua yet quasi.</p>


            <h2>Upcoming Events</h2>

            <ol>
                <li>Cat ipsum</li>
                <li>Magnam consectetur</li>
                <li>Quia but veniam iure</li>
            </ol>
            
            <h2>Questions?</h2> 
            <?php include '../includes/contact.php'; ?>


        </main>
    </div>


    <footer>
        <p>Designed by: Ammura Heidar &copy; 2021</p>

    </footer>

    <script type="text/javascript" src=""></script>

</body>

</html>